Android/m2mAIRMobile/m2mAIRMobile/bin
Android/m2mAIRMobile/m2mAIRMobile/obj
Android/m2mAIRMobile/m2mAIRMobile/App.cs
Android/m2mAIRMobile/m2mAIRMobile/Source/Views
Android/m2mAIRMobile/m2mAIRMobile.tar.gz
